{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="heading-row row row-margin-delete">
        <div class="heading-box right-align col s12">
            <h2 class="hm"> {{ response.company_name }} </h2>
            <p>Your reference from {{ response.get_full_name }}</p>
        </div>
    </div>
    <div class="crumbs-row row">
        <nav class="crumbs-box col s12 m9 right transparent z-depth-0">
            <div class="nav-wrapper right ">
                  <a  href="{% url 'profile' %}" class="breadcrumb grey-text">Profile</a>
                  <a  href="" class="breadcrumb black-text">Options</a>
                  <a  href="{% url 'send_request' %}" class="breadcrumb grey-text">Send Request</a>
            </div>
        </nav>
    </div>
    <div class="card-panel">
        <div class="row">
                <div class="col s12 m10 offset-m1 l9 offset-l1">
                    <h3 class="hm"> {{ response.company_name }}</h3>
                    <p class="bold">
                        {{ response.profile.first_name }}
                        worked here between {{ response.ref_request.date_from|date:"Y-m-d" }} 
                        and  {{ response.ref_request.date_from|date:"Y-m-d" }}
                    </p>
                </div>
            </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 l9 offset-l1">
                <h3 class="hsx bold">{{ response.profile }}'s main tasks at {{ response.company_name }}</h3>
                <p >
                    {{ response.main_tasks }}
                </p>
            </div>
            <div class="col s12 m10 offset-m1 l9 offset-l1">
                <h3 class="hsx bold">Execution </h3>
                <p >
                    {{ response.elaborate }}
                </p>
            </div>
            <div class="col s12 m10 offset-m1 l9 offset-l1">
                {% if response.extra %}
                    <h4 class="hsx bold">Additional</h4>
                    <p>
                        {{ response.extra }}
                    </p>
                 {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col s12 m10 offset-m1 l9 offset-l1">
                <p>
                    {{ response.get_full_name }} <br />
                    {{ response.title }} <br />
                    {{ response.company_name }} <br />
                </p>
                <hr />
            </div>
            <div class="col s12 m10 offset-m1 l9 offset-l1"> 
                <p>
                    {% if response.relation == "BOSS" %}
                        I was a manager to {{ response.profile }}
                    {% elif response.relation == "COLL" %}
                        I was a collegue to {{ response.profile }}
                    {% endif %}
                </p>
            </div>
        </div>  
    </div>
    <div class="row right-align">
        <div id="reference-toolbar" class=" scale-transition scale-out .col s12 m8 reference-tooblar blue lighten-5">
            <ul>
                    <li><a class=" btn-floating btn-flat grey lighten-1 tooltipped" data-position="bottom" data-tooltip="send to email - coming soon"><i class="material-icons">send</i></a></li>
                    <li><a class=" btn-floating btn-flat grey lighten-1 tooltipped" data-position="bottom" data-tooltip="save as pdf - coming soon"><i class="material-icons">picture_as_pdf</i></a></li>
                    <li><a class=" btn-floating btn-flat grey lighten-1 tooltipped" data-position="bottom" data-tooltip="share - coming soon"><i class="material-icons">share</i></a></li>
                    <li><a data-target="{{ response.id }}"  class=" modal-trigger btn-floating deep-purple" data-position="bottom" data-tooltip="coming soon"><i class="material-icons">delete</i></a></li>
              </ul>

             
        </div>
        {% include "./components/modals/delete_reference_modal.html" %}
        <p class="btn" id="reference-toolbar-trigger" href=""> More options</p>

    </div>    
    <div class="row">
        <div class="col s12 m10 l9">
            <p class="grey-text">
            REFERENCE <br />
            <span>Name: </span> {{ response.get_full_name }} <br/>
            <span>Company name:</span> {{ response.company_name }} <br/>
            <span>Issued on:</span> {{ response.time_added|date:"D. d. M -Y" }}<br/>
            </p>
        </div>
    </div>
    <script defer type="text/javascript" src="{% static 'base/js/components/responseToolbox.js' %}"></script>  
</div>
{% endblock content %}

