{% extends "base.html" %}

{% block content %}
    <div class="container center grey lighten-3">
        <section class="profile-section">
            <div class="heading-row row">
                <div class="heading-box col s12">
                    <h2 class="hm right">{ name }'s Profile</h2>
                </div>
            </div>
            <div class="crumbs-row row">
                <nav class="crumbs-box col s10 m6 right grey">
                    <div class="nav-wrapper right ">
                          <a  href="#!" class="breadcrumb ">Profile</a>
                          <a  href="#!" class="breadcrumb ">Send</a>
                          <a  href="#!" class="breadcrumb ">References</a>
                    </div>
                </nav>
            </div>
            <div class="req-reference-row row">
                <div class="col s12 profilesque-image grey darken-4">
                    <button class="btn" id="req-reference">Ask For Reference</button>
                </div>
            </div>
            <div class="counter-row row">
                <div class="col s6 counter-box">
                    <div class="card right-align">
                        <div class="card-content">
                            <span class="hs card-title"> Requests </span>
                            <span class="xl3">{count}</span>
                        </div>
                    </div>
                </div>

                <div class=" col s6 counter-box">
                    <div class="card right-align">
                        <div class="card-content">
                            <span class="hs card-title"> References </span>
                            <span class="xl3">{count}</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock content %}