{% extends "base.html" %}

{% block content %}
    <div class="container center grey lighten-3">
        <div class="heading-row row">
            <div class="heading-box col s12">
                <h2 class="hs right">{ name }'s Profile</h2>
            </div>
        </div>
        <section class="user-name row">
            <nav class="crumbs-box col s10 m6 right grey">
                <div class="nav-wrapper right ">
                      <a  href="#!" class="breadcrumb ">Profile</a>
                      <a  href="#!" class="breadcrumb ">Send</a>
                      <a  href="#!" class="breadcrumb ">References</a>
                </div>
            </nav>
        </section>
    </div>



{% endblock content %}