{% load static %}

<div class="slider">
    <ul class="slides indigo lighten-1 img">
      <li>
          <div class="row">
            <div class="col s12 l12 slider-img-container">
              <img id="calming-view" class="slider-img" src="{% static 'img/calming-view.svg' %}" alt="desk illustration" />
            </div>
            <div class="caption center-align" >
              <h3 class="bold white-text">Welcome to Pytagora</h3>
              <h5 class="inline indigo lighten-1 white-text">The home for your references.</h5>
            </div>
          </div>

      </li>

      <li class="offset-l6">
       <div class="container">
        <div class="row">
          <div class="col s12 l8 push-l4 slider-img-container ">
            <img class="slider-img" src="{% static 'img/empty-desk.svg' %}" alt="desk illustration" />
          </div>
          <div class="caption left-align" >
            <h3 class="bold white-text">So you recently quit your job...</h3>
            <h5 class="inline indigo lighten-1 white-text">...and now you need to ask <br <br class="hide-on-small-only"/>your ex-boss to  be your reference  <br <br class="hide-on-small-only"/>during all your upcoming interviews? </h5>
          </div>
        </div>
       </div>
      </li>

      <li class="offset-l6">
        <div class="container">
          <div class="row">
            <div class="col s12 l8 slider-img-container">
              <img class="slider-img" src="{% static 'img/computer-guy.svg' %}" alt="desk illustration" />
            </div>
            <div class="caption right-align" >
              <h3 class="bold amber-text text-lighten-4">Use Pytagora instead</h3>
              <h5 class="inline indigo lighten-1 white-text">and get all your references on paper <br class="hide-on-small-only"/> with  a click of a button.</h5>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <script type="text/javascript" src="{% static 'components/script.js' %}"></script>