{% extends "./base_modal.html" %}
{% load static %}

{% block modal_id %}
    id="{{ request.id }}"
{% endblock modal_id %}

{% block modal_img %} 
    {% static 'img/computer-guy.svg' %}
{% endblock modal_img %}

{% block modal_title %}
    <h3 class="hm">Delete Request</h3>
{% endblock modal_title %}

{% block modal_info %}
    <p> Only delete the request if you no longer wish to receive a reference from {{ request.to_email }}</p>
    <table>
        <tr>
            <th>Company</th>
            <th>Fr date</th>
            <th>To date</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ request.company_name }}</td>
            <td>{{ request.date_from|date:"Y-m-d" }}</td>
            <td>{{ request.date_to|date:"Y-m-d" }}</td>
            <td>{{ request.get_status_display }}</td>
        </tr>
    </table>                          
{% endblock modal_info %}

{% block modal_qustion %}
    <p class="red-text"> Are you sure you want to permanently delete this request?</p>
{% endblock modal_qustion %}

{% block modal_extra %}
{% endblock modal_extra %}

{% block modal_form %}
    <form action="{% url 'delete_request' request.id %}" method="post">
        {% csrf_token %} 
        <input class="btn-flat right red lighten-1 white-text" value="delete" type="submit" />
    </form>
{% endblock modal_form %}

