{% extends "./base_modal.html" %}
{% load static %}

{% block modal_id %}
    id="{{ response.id }}"
{% endblock modal_id %}

{% block modal_img %} 
    {% static 'img/computer-guy.svg' %}
{% endblock modal_img %}

{% block modal_title %}
    <h3 class="hm">Reference response preview</h3>
{% endblock modal_title %}

{% block modal_info %}
    <p> Response from {{ response.get_full_name }} at {{ response.company_name }} </p>                            
{% endblock modal_info %}

{% block modal_qustion %}
{% endblock modal_qustion %}

{% block modal_extra %}

    <div class="row">
        <div class="col s12 center-align">
            <h4 class="hsx bold">Primary Tasks</h4>
            <p>
                {{ response.main_tasks }}
            </p>

        </div>
    </div>
{% endblock modal_extra %}

{% block modal_form %}
    <a href="{% url 'reference_detail' response.pk %}" class="btn-flat right deep-purple lighten-2 white-text" >View full reference</a>
{% endblock modal_form %}
