
  <div class="card">
    <div class="card-image ">
      {% comment %} remove {% endcomment %}
      <div class="form-header deep-purple lighten-3">
        <div class="form-image-container">
          {% block form_image %}
          {% endblock form_image %}
        </div>
        <h2 class="card-title align-center">
          {% block form_title %}
          {% endblock form_title %}
        </h2>
      </div>
    </div>
    <div class="card-content">
      {% block form %}
      {% endblock form %}
    </div>
  </div>