{% extends "./base_form.html" %}
{% load static %}
{% load materializecss %}
{% block form_image %}
    <img height="200"
         width="auto"
         src="{% static 'img/computer-guy.svg' %}"
         alt=""/>
{% endblock form_image %}
{% block form_title %}
    Change your password into shiny new one
{% endblock form_title %}
{% block form %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.old_password|materializecss }}
        <div class divider></div>

        {{ form.new_password1|materializecss }}
        {{ form.new_password2|materializecss }}

        <blockquote id="extension-notice" class="grey-text">
            Friendly notice: We do not recoment sending a reference request to a private email adress. <a href=""> learn why</a>
        </blockquote>
        <div class="row imput-field">
            <div class=" col s12 right-align">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>

{% endblock form %}
