{% extends "./base_form.html" %}
{% load static %}
{% load materializecss %}

{% block form_image %}
<img height="200" width="auto" src="{% static 'img/birds.svg' %}" alt="" />
{% endblock form_image %}

{% block form_title %}
    Please login to continue
{% endblock form_title %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    {{ form|materializecss }}

    <div class="row valign-wrapper row-margin-add">
        <div class="col s6">
            <button type="submit" class="btn">Sign in</button>
        </div>
        <div class="col s6 right-align">
            <p>Not member? <br /> <a class="blue-text" href="{% url 'signup' %}">Sign up here</a></p>
        </div>
    </div> 
</form>

    

{% endblock form %}