{% extends "./base_form.html" %}
{% load static %}
{% load materializecss %}

{% block form_image %}
<img height="200" width="auto" src="{% static 'img/computer-guy.svg' %}" alt="" />
{% endblock form_image %}

{% block form_title %}
    Reference to: {{ form.instance.profile }}
{% endblock form_title %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
<fieldset class="rounded deep-purple-text">
    <legend class=" ">Information about you</legend>
    <div class="col s12"></div>
    {{ form.first_name|materializecss:"s6" }}
    {{ form.last_name|materializecss:"s6" }}
    {{ form.title|materializecss:"s12" }}
    {{ form.company_name|materializecss:"s12" }}
    
    {{ form.relation|materializecss:"s12" }}
    {{ form.other_relation|materializecss:"s12" }}
</fieldset>
<fieldset class="rounded blue-text">
    <legend>Questions about {{ form.instance.profile }}</legend>
    
    
    
    {{ form.main_tasks|materializecss }}
    {{ form.elaborate|materializecss }}
    {{ form.extra|materializecss }}
</fieldset>
    <div class="row valign-wrapper row-margin-add">
        <div class=" col s12 right-align">
            <button type="submit" class="btn">Submit</button>
        </div>
    </div>
</form> 

{% endblock form %}