{% extends "./base_form.html" %}
{% load static %}

{% block form_image %}
<img height="200" width="auto" src="{% static 'img/computer-guy.svg' %}" alt="" />
{% endblock form_image %}

{% block form_title %}
    Reference to: {{ form.instance.profile }}
{% endblock form_title %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="row valign-wrapper row-margin-add">
        <div class="col s6">
            <button type="submit" class="btn">Commit response</button>
        </div>
        
</form>

    
</div>
{% endblock form %}