{% extends "./base_form.html" %}
{% load static %}
{% load materializecss %}
{% block form_image %}
    <img height="200"
         width="auto"
         src="{% static 'img/computer-guy.svg' %}"
         alt=""/>
{% endblock form_image %}
{% block form_title %}
    Send a request to your reference
{% endblock form_title %}
{% block form %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.company_name|materializecss }}
        {{ form.date_from|materializecss:"s6, helper=hello " }}
        {{ form.date_to|materializecss:"s6" }}
        <div class="row">
            <div class="col s12 center-align">
                <span id="from-to-helper" class="helper-text grey-text">between what dates did you work here?</span>
            </div>
        </div>
        {{ form.to_email|materializecss }}
        <div class="row valign-wrapper row-margin-add">
            <div class=" col s12 right-align">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>

{% endblock form %}
