{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="References at will"/>
        <meta name="keywords" content="References reference check recruitment process recruiting"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {% comment %} Materialize css / js {% endcomment %}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet"/>
        <link type="text/css"
              rel="stylesheet"
              href="{% static 'materialize/css/materialize.min.css' %}"
              media="screen,projection"/>
        {% comment %} personal base css / js {% endcomment %}
        <link rel="stylesheet" href="{% static 'base/css/style.css' %}"/>
        <script defer type="text/javascript" src="{% static 'base/js/script.js' %}"></script>
        {% block head %}
        {% endblock head %}
        <title>Pytagora Beta</title>
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
            <ul id="user-dropdown" class="dropdown-content">
                <li><a href="{% url 'change_password' %}">Change Password</a></li>
                <li><a class="red-text text-lighten-1" href="{% url 'delete_account' user.pk %}">Delete Account</a></li>
                <li class="divider"></li>
                <li class="divider"></li>
                <li><a href="{% url 'profile' %}">Go to profile</a></li>
              </ul>
            {% endif %}
            <nav class="z-depth-0 white">
                <div class="container">
                    <div class="nav-wrapper">
                        <a href="{% url 'home' %}" class="teal-text brand-logo">Pytagora</a>
                        <a href="#" data-target="pytagora-sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        <ul class="right hide-on-med-and-down ">
                            {% if user.is_authenticated %}
                            <li>
                                <a class="dropdown-trigger" href="" data-target="user-dropdown"><i class="material-icons">settings</i></a>
                            </li>
                            <li>
                                <a href="{% url 'logout' %}"> Log Out</a>
                            </li>  
                            {% else %}
                            <li>
                                <a href="{% url 'login' %}"> Log In</a>
                            </li>   
                            <li>
                                <a href="{% url 'signup' %}">Sign Up</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <ul class="sidenav" id="pytagora-sidenav">
                    <object class="teal darken-2" type="image/svg+xml" data="{% static 'img/computer-guy.svg' %}">Your browser does not support SVG</object>
                
                {% if user.is_authenticated %}
                <ul class="collapsible">
                   <li>
                    <div class="collapsible-header truncate bold teal-text text-darken-2"> <i class="material-icons">settings</i> {{ user.email }}</div>
                    <div class="collapsible-body">
                        <ul class="center-align">
                            <li><a href="{% url 'change_password' %}">Change Password</a></li>
                            <li><a class="red-text text-lighten-1" href="#!">Delete Account</a></li>
                        </ul>
                    </div>
                </li> 
                </ul>
                <li class="divider"></li>
                <li class="center-align">
            
                    <a href="{% url 'logout' %}"> Log Out</a>
                </li>  
                
                {% else %}
                <li class="center-align bold grey-text" > new to pytagora?
                    <a href="{% url 'signup' %}">Create an account</a>
                </li>
                <li class="divider"></li>
                <li class="center-align grey-text">
                    <a href="{% url 'login' %}"> Log In</a>
                </li>
               
                {% endif %}
            </ul>
            
        </header>

       <main>
        {% block content %}
        {% endblock content %}
       </main>

        <footer class="page-footer blue-grey darken-4 z-index-2" >
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Questions regarding this prototype?</h5>
                        <p class="grey-text text-lighten-4">Email anton.askling@gmail.com</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li>
                                <a aria-label="link to twitter, opens in new tab" target="_blank" class="grey-text text-lighten-3" href="https://twitter.com/">Twitter</a>
                            </li>
                            <li>
                                <a aria-label="link to linkedin, opens in new tab" target="_blank" class="grey-text text-lighten-3" href="https://linkedin.com/">LinkedIn</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright grey darken-4">
                <div class="container">
                    © Anton Askling 2022
                    <a class="grey-text text-lighten-4 right"  aria-label="link to github repository, opens in new tab" target="_blank" href="https://github.com/4ntm4n/ms-four">Pytagora on GitHub</a>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
        
        {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script defer>M.toast({html: "{{message}}", classes: 'teal', displayLength:4000});</script>
            {% elif message.tags == 'info'%}
                <script defer >M.toast({html: "{{message}}", classes: 'blue', displayLength:4000});</script>
            {% elif message.tags == 'warning'%}
                <script defer>M.toast({html: "{{message}}", classes: 'orange', displayLength:10000});</script>
            {% elif message.tags == 'error'%}
                <script defer>M.toast({html: "{{message}}", classes: 'red', displayLength:10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}
    </body>
</html>
