body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header{
    z-index: 3;
}

.sidenav-overlay {
    z-index: 2;
}

.slider .indicators .indicator-item.active {
    background-color: #fa7f6f; /* change this color */
  }

.slider-img-container{
  height:500px;
}
.slider-img{
    min-height:400px;
    filter: brightness(.7);
}

.inline{
    display: inline;
}

.bold {
    font-weight: bold;
}

.collection{
    overflow: visible;
}

.rounded{
    border-radius: .7rem;
}

/* quick-access classes for heading sizes */
.hl{
    font-size: 3rem !important;
}
.hm{
    font-size: 2rem !important;
}
.hs{
    font-size: 1.5rem !important;
}

/* PROFILE */

.request-remove-btn{
    position:relative;
    right:-2.5rem;
    top: 0rem;
}



/* PROFILE -reference response */

.responder-list-name {
    max-width: 80%;
}

.collection a.collection-item:hover{
    color: darkblue;
    background-color: #dde1ff !important;
}



@media only screen and (max-width: 601px) {
    .slider-img-container .s12 {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        object-fit: contain !important;
      }
   
}


@media only screen and (max-width: 1095px) {
    
    #calming-view{
        height: 600px;
    }
   
}
