body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header{
    z-index: 2;
}


.slider .indicators .indicator-item.active {
    background-color: #fa7f6f; /* change this color */
  }


.slider-img-container{
  height:500px;
}
.slider-img{
    min-height:400px;
    filter: brightness(.7);
    width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
    z-index:2;
}

.inline{
    display: inline;
}

.bold {
    font-weight: bold;
}


@media only screen and (max-width: 601px) {
    .slider-img-container .s12 {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
        object-fit: contain !important;
      }
   
}


@media only screen and (max-width: 1095px) {
    
    #calming-view{
        height: 600px;
    }
   
}
